.popup__conteiner {
  width: 100%;
  max-width: calc(430px - 72px);
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  padding: 34px 36px 37px 36px;
  position: relative;
}

@media screen and (max-width: 560px) {
  .popup__conteiner {
    min-width: calc(282px - 44px);
    width: calc(100% - 38px);
    padding: 25px 22px;
    margin: 0 19px;
  }
}