.element__button-delete {
  background-image: url(../../../images/delete.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 19.3px;
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  border: none;
  align-self: center;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
}

.element__button-delete:hover {
  opacity: 0.6;
}