.popup__input {
  border: none;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding: 0 0 13px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 0;
}
.popup__input:nth-child(1) {
  margin-top: 54px;
}

@media screen and (max-width: 560px) {
  .popup__input:nth-child(1) {
    margin-top: 75px;
  }
}