.profile {
  color: #fff;
  margin: 40px auto 0 auto;
  display: flex;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 1020px) {
  .profile {
    max-width: calc(880px - 120px);
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    flex-direction: column;
    margin-top: 38.25px;
  }
}

@media screen and (max-width: 430px) {
  .profile {
    max-width: 282px;
  }
}