.popup__caption {
  margin: 10px 0 0 0;
  padding: 0;
  max-width: 210px;
  align-self: flex-start;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  overflow: visible;
}