.popup__place-image {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  justify-content:center;
  max-width: 75vw;
  max-height: 75vh;
  align-self: center;
}